
.pr{
    background-color: rgba(34, 37, 42, 0.95);
    width: 15%;
    padding: 10px;
  .profile-part {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    padding: 20px;
    width: 100%;
    position: relative;
    transition-property: transform;
    transition-duration: 1s;

    a:-webkit-any-link {
        color: rgba(255, 255, 255, 0.4);
        ;
        cursor: pointer;
        text-decoration: none;
    }
     &-div{
        display: flex;
       &-img {
        margin-right: 5%;

        img {
            width: 30px;
            height: 30px;

        }

    }

    &-text {
        color: white;
        font-size: 20px;

        p {
            display: block;
            margin-block-start: 0em !important;
            margin-block-end: 0em !important;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    } 
     }
    

    &-hr {

        position: absolute;
        bottom: 20px;
        width: 40%;
        height: 1px;
        color: #a5a8ad;
        // left: 3%;
        z-index: 999;
        background-color: #a5a8ad;
    }
}  
}

.profile-part:hover img {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 650px) and (min-width: 300px) {
    .header-content {
        display: none;
    }
    // .profile-part {
       
    //     width: auto;
       
    // }
    .profile-part{
        &-hr{
            display: none;
        }
    }
    .header{
        align-items: center;
        justify-content: center;
    }
    .modalMenu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1000;
        transition: all 0.4s ease-in;
        background-color: rgb(34, 37, 42);
        display: none;
        &.active {
          overflow-y: scroll;
            z-index: 1001;
            background-color: rgb(34, 37, 42);
            left: -40vw;
            top: 0;
            margin-top: 15%;
            transition: all 0.4s ease-in;
            display: block;
        }
        &.active::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none; 
            scrollbar-width: none; 
          }
        .divActive {
            margin-left: 40vw;
        }

        .header-content-1 {

            width: 100%;
            margin-top: 20%;


            .up {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;

                a:-webkit-any-link {
                    color: rgba(255, 255, 255, 0.4);

                    cursor: pointer;
                    text-decoration: none;
                }

                li {
                    a {
                        margin-top: 5%;
                    }

                    margin-bottom: 20px;
                    font-size: 22px;
                    list-style: none;
                    text-decoration: none;
                    text-decoration: none;
                    margin-right: 40px;
                    color: #bbbec2;
                    cursor: pointer;
                    transition: 0.2s ease;

                    &:hover {
                        color: white;
                        transition: 0.2s ease;
                    }

                }

            }

        }
    }
}
@media screen and (max-width: 2000px) and (min-width: 650px) {
    .modalMenu{
        visibility: hidden;
        opacity: 0;
    }
    
}