.modal {
  position: absolute;
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  z-index: 999;
  background-color: #6c757d;
  float: left;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  height: 400px;
  min-height: 300px;
  &-form {
    position: relative;
    border-radius: 3px;
    width: 800px !important;
    padding: 20px;
    font-weight: 400;
    color: #a5a8ad;
    background-color: #282b2f;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    // transform: translate(0 , 50%);
    text-align: center;
     &-cancel{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: end;
         svg{
          text-align: right !important;
          width: 5%;
          height: 5%;
         }
     }
    &-btn {
      margin: 5%;
      button {
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
        outline: none;
        border-radius: 50px;
        width: 50%;
        padding: 5px;
      }
    }
    &-div {
      text-align: left;
      &-el {
        input {
          padding: 5px;
          box-shadow: none;
          background-color: transparent;
          border: 1px solid #393d42;
          font-size: 14px;
          border-radius: 50px;
          color: #77797c;
          outline: none;
        }
        display: flex;
        flex-direction: column;
        label {
          margin: 3%;
        }
      }
    }
  }
}
