.header{
    // position: fixed;
    top: 0;
    left: 0;
    width: 85% !important;
    z-index: 999px;
    &-progress-bar{
        background-color: #a5a8ad;  
        width: 95%;
        height: 1px;
        color:#a5a8ad;
        position: sticky;
        top:0;
        left:3%;
        z-index: 1;
       &-style{
        // width: 15%;
        height: 1px;
        background-color:#17C2D7;
       }
    }
    background-color: rgba(34,37,42,0.95);;
    padding: 20px;
    width: 80%;
    // position: relative;
    overflow: hidden;
    .svg-icon.search-icon {
        display: inline-block;
        width: 15px;
        height: 15px;
    }
    &-content{
      
        &-div{
            width: 100%;
            img{
                width: 15px;
                height: 15px;
            }
        }
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
             
            li{
                list-style: none;
                text-decoration: none;
                margin-right: 40px;
                color: rgba(255,255,255,0.4);
                cursor: pointer;
                transition: 0.2s ease;
                &:hover{
                    color:white;
                    transition: 0.2s ease;
                }
            }
            
        }
        
    }
   
}