.App{
  background-color: rgba(34, 37, 42, 0.95);
}

.main-page-up{
  display: flex;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: rgba(209, 209, 213, 0.95);

}
.two{
  display: flex;
  justify-content: space-between;
}
.two-right{
   width: calc(100% - 240px);
   margin-left: auto;
   
   /* background-color: rgba(34, 37, 42, 0.95); */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media screen and (max-width: 850px) and (min-width: 650px) {
  .two-right{
    width: 70%;
  }
   
}
@media screen and (max-width: 850px) and (min-width: 300px) {
  .two-right{
    width: 100%;
  }
   
}