.main-page-up{
  display: flex;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: rgba(209, 209, 213, 0.95);

}
.two{
  display: flex;
  justify-content: space-between;
}
.two-right{
   width: calc(100% - 240px);
   margin-left: auto;
   
   background-color: rgba(34, 37, 42, 0.95);
}
/* .rem {
  di
} */
